.NotFoundContainer {
  background-color: #000000;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.NotFoundContentContainer {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.notFoundDesc {
  text-align: center;
}
